.android-large2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.android-large2-android-large2 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 0, 214, 1);
}
.android-large2-navlink {
  display: contents;
}
.android-large2-star1 {
  top: 544px;
  left: 124px;
  width: 111px;
  height: 111px;
  position: absolute;
  text-decoration: none;
}
.android-large2-frog1 {
  top: 334px;
  left: 50px;
  width: 260px;
  height: 132px;
  position: absolute;
}
.android-large2-text {
  top: 204px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 72px;
  font-style: Regular;
  text-align: left;
  font-family: Dynalight;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
