.android-large3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.android-large3-android-large3 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 239, 255, 1);
}
.android-large3-navlink {
  display: contents;
}
.android-large3-star1 {
  top: 544px;
  left: 124px;
  width: 111px;
  height: 111px;
  position: absolute;
  text-decoration: none;
}
.android-large3-text {
  top: 203px;
  left: 157px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 72px;
  font-style: Regular;
  text-align: left;
  font-family: Dynalight;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large3-giphy1 {
  top: 308px;
  left: 67px;
  width: 226px;
  height: 206px;
  position: absolute;
}
